body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
html {
    scroll-behavior: smooth;
}

.navbar-dark {
     background-color: #512DA8;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}












/* Social Link style*/

.footer .social ul{
    display: flex;
    margin-bottom: 0;
}
.footer .social li{
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    list-style: none;
    margin: 0 2px;
}
.footer .social i{
    font-size: 20px;
    line-height: 35px;
}

.fa-facebook-f {
    color: #3b5998;
  }
.fa-twitter {
    color: #00aced;
}
.fa-google-plus {
    color: #DD4B39;
}
.fa-linkedin {
    color: #517FA4;
}
.fa-youtube {
    color: #bb0000;
}